.navbar{
    margin: 6px;
    padding: 25px;
}
.carousel-inner{
    width: 600px;
    height: 600px;
}
img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
.accordion{
    margin: 10px;
}
.card{
    font-family:"PT-Sans";
    font-size: 17px;
}
.card-body{
    margin: 10px;
}
button{
    background-color: none;
    transition: background-color 1s;
}
button:hover{
    background-color: rgb(72, 187, 223);
}
