#name{
    color: whitesmoke;
    font-size: 25px;
    padding: 5px;
    text-align: justify;
}

.university{
    opacity: 2px;
}

.w3-third{
    width: 28%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

